---
layout: tataletak.njk
namapendek: Faqqih
namaaqu: Muhammad Nur Faqqih
nimaqu: 14117168
ttlaqu: Bandar Lampung. 4 agustus 1999
hobiaqu: Ngewibu,tidur,gambar,dan tidur lagi
---

<h1> Profile saya  </h1>
<h3> Nama saya : {{namapendek}} </h3>
<div class="profil">  

    <div class="foto">
    </div>
    <div class="namalengkap"> <p> Nama Lengkap : {{namaaqu}} </p></div>
    <div class="ttl"> <p> TTL : {{ttlaqu}} </p></div>
    <div class="namalengkap"> <p> NIM : {{nimaqu}} </p></div>
    <div class="ttl"> <p> Hobi : {{hobiaqu}} </p></div>
 </div>

