---
layout: tataletak.njk
namapendek: Faqqih
foto1: mantap
foto2: mantap mantap
foto3: mantap mantap anjay
---

<h1> GALERi nih gais </h1>
<h3> Nama saya : {{namapendek}} </h3>

<div class="galeri" style="background-image: url('/assets/images/profile.jpg');">  </div>

<h3 style="text-align: center"> Jiaaahh kebalik wkwkw</h3>
<div class="galeri" style="background-image: url('/assets/images/IMG_2343.JPG');">  </div>
<div class="galeri" style="background-image: url('/assets/images/IMG_2377.JPG');">  </div>

