
<nav>
        <ul>   
                <li>
                        <a href="/">
                                Home
                        </a>
                </li>
                <li>
                        <a href="/views/14117168">
                                Profile 
                        </a>
                </li>
                <li>
                        <a href="/views/galeri">
                                Gallery 
                        </a>
                </li>
            </ul>
</nav>